**Домашнее задание**

**Задание 1**  
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [3]:
data1 = pd.read_csv('ratings.csv')
data1 = data1[['movieId', 'rating']]          # фильтр столбцов
data1_filter5 = data1[data1['rating'] == 5.0] # фильтр по оценке 5
data1_filter5_group = data1_filter5.groupby('movieId').count().sort_values('rating', ascending=False) # группировка по movieId с подсчетом кол-ва rating

In [4]:
movies = pd.read_csv('movies.csv')
movies = movies[['movieId', 'title']]          # фильтр столбцов

In [5]:
joined = data1_filter5_group.merge(movies, on='movieId', how='left')
joined_max = joined.head(1)
joined_max.head()

   movieId  rating                             title
0      318     153  Shawshank Redemption, The (1994)

In [6]:
joined_max.shape

(1, 3)

**Задание 2**  
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [7]:
data2 = pd.read_csv('power.csv')

In [8]:
data2['country'].unique()

array(['Austria', 'Belgium', 'Czechia', 'Finland', 'France', 'Greece',
       'Hungary', 'Italy', 'Korea, Republic of', 'Netherlands', 'Romania',
       'Serbia', 'Slovakia', 'Ukraine', 'United Kingdom', 'United States',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'Croatia',
       'Iran (Islamic Rep. of)', 'Jordan', 'Lithuania', 'Mexico', 'Oman',
       'Other Asia', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'T.F.Yug.Rep. Macedonia', 'Turkey', 'Uzbekistan',
       'Argentina', 'Colombia', 'Germany', 'Norway', 'Australia',
       'China, Macao SAR', 'Japan', 'Denmark', 'Ireland', 'Philippines',
       'Bangladesh', 'Eritrea', 'Ethiopia', 'Lesotho', 'Nepal', 'Niger',
       'Pakistan', 'Serbia and Montenegro', 'Tunisia', 'Botswana',
       'Georgia', 'Republic of Moldova', 'Peru', 'South Africa',
       'Iceland', 'Latvia', 'Luxembourg', 'Cuba', 'Kyrgyzstan',
       'Singapore', 'Thailand', 'United Arab Emirates', 'Uruguay',
       'Armenia', 'Fiji', "Korea, Dem.Ppl's.Rep.", 'Russian Federation',
       'Swaziland', 'Zimbabwe', 'Afghanistan', 'Antigua and Barbuda',
       'Azerbaijan', 'Bahamas', 'Belize', 'Bolivia (Plur. State of)',
       'Brazil', 'Burkina Faso', 'Cameroon', 'Cayman Islands',
       'Central African Rep.', 'China', 'Comoros', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'French Guiana',
       'Germany, Fed. R. (former)', 'Greenland', 'Guatemala', 'Guinea',
       'Guyana', 'Honduras', 'Indonesia', 'Israel', 'Jamaica', 'Jersey',
       'Kazakhstan', 'Kenya', 'Kuwait', "Lao People's Dem. Rep.",
       'Liberia', 'Libya', 'Malawi', 'Malaysia', 'Maldives', 'Mauritania',
       'Mayotte', 'Morocco', 'Myanmar', 'Namibia', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niue', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
       'Slovenia', 'Solomon Islands', 'Sri Lanka', 'Sudan (former)',
       'Suriname', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Rep. of Tanzania', 'Venezuela (Bolivar. Rep.)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria', 'Curaçao',
       'Gabon', 'Malta', 'Neth. Antilles (former)', 'Sierra Leone',
       'USSR (former)', 'Barbados', 'Benin', 'Chad', 'Djibouti',
       'French Polynesia', 'Ghana', 'Grenada', 'Guadeloupe', 'Haiti',
       'Iraq', 'Kiribati', 'Madagascar', 'Mali', 'Martinique',
       'Pacific Islands (former)', 'Palau', 'St. Helena and Depend.',
       'St. Vincent-Grenadines', 'Syrian Arab Republic', 'Uganda',
       'Yemen', 'Yemen, Dem. (former)', 'Burundi', 'India', 'Mauritius',
       'Mozambique', 'Nigeria', 'Réunion', 'Rwanda', 'Samoa', 'Somalia',
       'St. Kitts-Nevis', 'Viet Nam', 'Belarus', 'Cyprus', 'Cabo Verde',
       'Albania', 'Bahrain', 'Bosnia and Herzegovina',
       'China, Hong Kong SAR', 'Czechoslovakia (former)', 'Angola',
       'Bermuda', 'Bhutan', 'Equatorial Guinea', 'Lebanon',
       'Saudi Arabia', 'St. Lucia', 'St. Pierre-Miquelon',
       'State of Palestine', 'Tajikistan', 'German Dem. R. (former)',
       'Anguilla', 'Mongolia', 'Montenegro', 'Cambodia', 'South Sudan',
       'Sudan', 'Andorra', 'Aruba', 'Bonaire, St Eustatius, Saba',
       'British Virgin Islands', 'Dominica', 'Falkland Is. (Malvinas)',
       'Gambia', 'Gibraltar', 'Qatar', 'Sint Maarten (Dutch part)',
       'Turkmenistan', 'Turks and Caicos Islands', 'Vanuatu',
       'Guinea-Bissau', 'Micronesia (Fed. States of)', 'Timor-Leste',
       'Yemen Arab Rep. (former)', 'American Samoa', 'Liechtenstein',
       'Puerto Rico', 'Cook Islands', 'Guam', 'Guernsey', 'Isle of Man',
       'Marshall Islands', 'Montserrat', 'Nauru',
       'Northern Mariana Islands', 'Tuvalu', 'United States Virgin Is.',
       'Wallis and Futuna Is.',
       'Commonwealth of Independent States (CIS)', 'Antarctic Fisheries'],
      dtype=object)

In [9]:
data2[ data2['country'].str.contains('lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [37]:
filtered_countries = data2[ (data2['country']=='Latvia') | (data2['country']=='Lithuania') | (data2['country']=='Estonia') ]
filtered_countries_cat = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21) ]
filtered_countries_year = filtered_countries_cat[ (filtered_countries_cat['year']==2005) | (filtered_countries_cat['year']==2006) | (filtered_countries_cat['year']==2007) | (filtered_countries_cat['year']==2008) | (filtered_countries_cat['year']==2009) | (filtered_countries_cat['year']==2010) ]
filtered_countries_quan = filtered_countries_year[filtered_countries_year['quantity'] > 0]
filtered_countries_quan_sort = filtered_countries_quan.sort_values('quantity', ascending=True) # для проверки, что нет минусов
filtered_countries_sum = sum(filtered_countries_quan_sort['quantity'])

filtered_countries_quan_sort.head()

          country  year  quantity  category
10617     Estonia  2008       1.0         4
26522   Lithuania  2006       1.0         4
26523   Lithuania  2005       1.0         4
103576  Lithuania  2010       1.0        12
104143  Lithuania  2008       1.0        12

In [11]:
print(filtered_countries_sum)

240580.0

**Задание 3**  
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [34]:
df1 = pd.read_html('https://fortrader.org/quotes')
df1[0]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,78.0626,0.0,0.0,NaN
1,USDRUB Курс рубля к доллару,69.6801,0.0,0.0,NaN

In [35]:
df1[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть (BRENT) Курс нефти сегодня,40.630,-0.01,-0.02,NaN
1,Нефть (WTI) Цены на нефть (WTI),38.190,-0.01,-0.03,NaN
2,Сахар котировки на сахар,12.630,11.47,988.79,NaN
3,Газ Цена на газ,1.495,0.00,0.00,NaN

In [18]:
pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,2 762,"0,0%",Nasdaq,9 757,"-2,6%",Биткойн,9 164,"0,0%",USD/RUB,697796,"1,0%"
1,РТС,1 247,"-0,8%",S&P500,3 009,"-2,4%",Нефть,407,"-1,8%",EUR/RUB,782850,"1,0%"
2,Dow,25 016,"-2,8%",FTSE100,6 159,"0,2%",Золото,1 771,"0,0%",EUR/USD,11220,"0,0%"

In [30]:
page_url1 = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df1 = pd.read_html(page_url1, attrs = {'class': 'header_user_pricebox'}, encoding='utf-8')
df1[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,2 762,"0,0%",Nasdaq,9 757,"-2,6%",Биткойн,9 164,"0,0%",USD/RUB,697796,"1,0%"
1,РТС,1 247,"-0,8%",S&P500,3 009,"-2,4%",Нефть,407,"-1,8%",EUR/RUB,782850,"1,0%"
2,Dow,25 016,"-2,8%",FTSE100,6 159,"0,2%",Золото,1 771,"0,0%",EUR/USD,11220,"0,0%"

In [27]:
page_url2 = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df2 = pd.read_html(page_url2, attrs = {'class': 'quote_list'}, encoding='utf-8')
df2[0]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,860871,-,861080,"-0,02 %",-00209,27.06.2020
1,NaN,EUR/RUB,782850,-,774940,"1,02 %",07910,27.06.2020
2,NaN,USD/RUB,697796,-,690745,"1,02 %",07051,27.06.2020
3,NaN,JPY/RUB,06511,-,06510,"0,00 %",00000,27.06.2020
4,NaN,CNY/RUB,98582,-,98581,"0,00 %",00001,27.06.2020
5,NaN,CHF/RUB,736122,-,736150,"0,00 %",-00027,27.06.2020
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11220,-,11220,"0,00 %",00001,27.06.2020
8,NaN,EUR/GBP,09091,-,09032,"0,65 %",00059,27.06.2020
9,NaN,EUR/JPY,1202650,-,1203000,"-0,03 %",-00350,27.06.2020
10,NaN,EUR/CHF,10637,-,10640,"-0,03 %",-00003,27.06.2020
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08913,-,08913,"0,00 %",00000,27.06.2020
13,NaN,USD/GBP,08106,-,08104,"0,02 %",00002,27.06.2020
14,NaN,USD/JPY,1071800,-,1071850,"0,00 %",-00050,27.06.2020
15,NaN,USD/CHF,09479,-,09482,"-0,03 %",-00003,27.06.2020
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),08300,-,08300,"0,00 %",00000,27.06.2020
18,NaN,JPY/GBP,00076,-,00076,"0,03 %",00000,27.06.2020
19,NaN,JPY/USD,00093,-,00093,"0,00 %",00000,27.06.2020
20,NaN,JPY/CHF (100:1),08800,-,08800,"-0,03 %",00000,27.06.2020
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,12337,-,12340,"-0,02 %",-00003,27.06.2020
23,NaN,GBP/JPY,1322280,-,1322651,"-0,03 %",-00371,27.06.2020
24,NaN,GBP/EUR,10999,-,11071,"-0,65 %",-00072,27.06.2020
25,NaN,GBP/CHF,11697,-,11781,"-0,71 %",-00084,27.06.2020
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,11697,-,11781,"-0,71 %",-00084,27.06.2020
28,NaN,EUR/CHF,10637,-,10640,"-0,03 %",-00003,27.06.2020
29,NaN,JPY/CHF (100:1),08800,-,08800,"-0,03 %",00000,27.06.2020
30,NaN,USD/CHF,09479,-,09482,"-0,03 %",-00003,27.06.2020
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,299221,-,299843,"-0,21 %",-00622,27.06.2020
33,NaN,USD/UAH,266685,-,267252,"-0,21 %",-00567,27.06.2020
34,NaN,CHF/UAH,281333,-,281941,"-0,22 %",-00608,27.06.2020
35,NaN,GBP/UAH,329010,-,329789,"-0,24 %",-00779,27.06.2020